/* resetting spacing */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
}

/* navigation bar and top menu */

.menu{
    width: 100%;
    margin-top: 105px;
}

.menu ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.menu li {
    display: flex;
    margin: 0;
}

.menu li a {
    display: block;
    padding: 10px 20px;
    font-family: 'Baloo 2', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: black;
    background-color: transparent;
    transition: background-color 0.5s ease, color 0.5s ease;
    flex: 1;
    text-align: center;
}

.menu li a:hover {
    background-color: red;
    color: white;
}
.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 1000;
}

#title {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: red;
    font-size: 30px;
}


/* logo positioning/sizing */

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo img{
    width: 130px;
    height: auto;
}

#insertLine {
    width: 100%;
    border-top: 6px solid red;
    margin: 0;
    padding: 0;
    position: relative;
    left: 0;
}

/* body text formatting */

.body{
    font-family: 'Baloo 2', sans-serif;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: 500;
    color: black;
}

.body p{
    margin-bottom: 10px;
}